{% assign comment_per_page = 5 %}
<article>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <a href="{{ blog.url }}">{{ blog.title }}</a>
        <h1>{{ article.title }}</h1>
      {% when 'article_author' %}
        {%- if section.settings.enable_author -%}
          <small>{{ article.author }}</small>
        {%- endif -%}
      {% when 'article_published_date' %}
        {%- if section.settings.enable_published_date -%}
          <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
            {{- article.published_at | date: format: 'on_date' -}}
          </time>
        {%- endif -%}
      {% when 'article_featured_image' %}
        {% if article.image != blank %}
          <img
            src="{{ article.image | image_url: width: 400, height: 400 }}"
            width="400px"
            height="400px"
            loading="lazy"
            alt="asd"
            class="block m-auto w-full h-96"
          >
        {% else %}
          {%- assign placeholder_image = 'hero-apparel-1' -%}
          {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
        {% endif %}

      {% when 'article_content' %}
        <div class="flex flex-col p-6">{{ article.content }}</div>
      {% else %}

    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="my-8">
    {%- if article.comments_count > 0 %}
      <h1>See What People are Saying</h1>
      {% paginate article.comments by comment_per_page -%}
        {% for comment in article.comments %}
          Author: {{ comment.author }} Published: {{ comment.created_at | date: format: 'default' }}
          <br>
          Content: {{ comment.content }}
        {% endfor %}
        {% if paginate.pages > 1 %}
          {{ paginate | default_pagination }}
        {%- endif -%}
      {% endpaginate %}

    {%- else -%}
      <p class="text-center">There are no comments in this article</p>
    {%- endif -%}
  </div>
  <div id="comment_form" class="mb-8">
    {%- form 'new_comment', article -%}
      {%- if form.errors -%}
        {%- render 'icon-failed' -%}
        Your comments not posted !
        <ul>
          {%- for error in form.errors -%}
            {{ form.errors.messages[error] }}
          {%- endfor -%}
        </ul>
      {%- elsif form.posted_successfully? -%}
        <div class="flex p-2">
          {%- render 'icon-success' -%}
          Your comments posted successfully.
        </div>
      {%- endif -%}
      <br>
      <label for="comment_author">Name</label>
      <input required type="text" name="comment[author]" id="comment_author" class="border-2 border-sky-500">
      <label for="comment_email">Email</label>
      <input required type="email" name="comment[email]" id="comment_email" class="border-2 border-sky-500">
      <label for="comment_content">Content</label>
      <textarea required name="comment[body]" id="comment_body" class="border-2 border-sky-500"></textarea>
      <button type="submit">Submit</button>
    {%- endform -%}
  </div>
{% endif %}

{% schema %}
{
  "name": "Template Article",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "default": true,
      "label": "Display Author Name"
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "default": true,
      "label": "Display Published Date"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "article_featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
